# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc
_yardoc

# bundler
.bundle
Gemfile.lock

# jeweler generated
pkg


.DS_Store
*.swp
*.gem
*.rbc
.config
InstalledFiles
lib/bundler/man
spec/reports
test/tmp
test/version_tmp
tmp